job('demo-dsl-children') {
    description('This is my description')

    parameters {
        stringParam('Planet', defaultValue = 'world', description = 'This is the world')
        booleanParam('FLAG', true)
        choiceParam('OPTION', ['option 1 (default)', 'option 2', 'option 3'])
    }

    scm {
        git('https://github.com/Mmasson-01/udemy-jenkins.git', 'main')
    }

    triggers {
        cron('H 5 * * 7')
    }

    steps {
        shell('echo Hello world!')
    }
}
